.root{
    flex-grow: 1;
}
.item{
    margin-bottom: 30px !important;
}

@media (min-width: 1360px) and (max-width: 1700px) {
    .item{
      max-width: 20% !important;
      flex-basis: 20% !important;
    }
}
@media (min-width: 1701px) {
    .item{
        max-width: 16.666667% !important;
        flex-basis: 16.666667% !important;
    }
}