.navBar{
    padding: 1px;
    align-items: center !important;
    background-image: linear-gradient(102.04deg, #00b46e 0%, #9ac100 100%);
    z-index: 500
}
.navBar.sticky{
    position: sticky;
    top: 0
}

.searchInput {
    display: none!important;
}

.logoNav {
    display: none;
    width: 0;
    transition: width .5s;
    line-height: 1;
    cursor: pointer;
}
.navBar.sticky .logoNav {
    display: block;
    width: 60px
}

.navBar.sticky .searchInput {
    display: flex!important;
    width: 20%;
}

.navIcon{
    font-size: 19px !important;
    width: auto !important;
    height: 19px !important;
    margin-right: 10px;
}
.rIcon{
    color: #fff !important;
    font-size: 22px !important;
}
.navBarRight{
    display: flex;
    /* flex: 1;
    justify-content: flex-end; */
}
.navBarRightLink{
    margin-right: 10px;
    padding: 0
}
.navBarContaint{
    display: flex;
    align-items: center !important;
    justify-content: space-between
}

.badge {
    position: absolute;
    right: -1.25em;
    top: -0.25em;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
    display: inline-block;
    padding: 0.25em 0.5rem;
    font-size: 75%;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: linear-gradient(to right, #ff4fae, #f9b514);
    color: white;
    border: 1px solid white;
    font-size: 12px;
}