.navBar{
    padding: 1px;
    align-items: center !important;
    background-image: linear-gradient(102.04deg, #00b46e 0%, #9ac100 100%);
    z-index: 500
}
.navBar.sticky{
    position: sticky;
    top: 0
}

.logoNav {
    width: 0;
    transition: width .5s;
    line-height: 1;
    cursor: pointer;
}
.navBar.sticky .logoNav {
    width: 80px
}
