.order_id {
    display: inline;
    font-size: 1.5rem;
    color: #00b46e;
    text-decoration: none;
    background-color: transparent;
}

.order_detail_label {
    color: #919aa3;
    font-weight: 500;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    width: 100%;
    height: 100%;
}
