
.product_action {
    justify-content: flex-start;
    padding: 0!important;
    margin-bottom: 10px;
}

.product_action_column {
    flex: 25%;
    max-width: 25%;
    justify-content: flex-end;
    margin-bottom: 0!important;
}

.product_action button:nth-child(3) {
    margin-left: 0!important;
}

.product_action div:nth-child(2) {
    margin-left: 4px!important;
    margin-right: 4px!important;
}

.text_danger {
    font-size: 12.8px!important;
    font-weight: 400!important;
    color: #dc3545 !important;
    line-height: 2!important;
}

.text_danger_column {
    position: absolute;
    right: 20px;
    bottom: 5px;
}

.price_wrapper {
    display: flex;
    align-items: baseline;
}

.price_wrapper_column {
    flex-direction: column!important;
    align-items: center;
    flex: 15%;
    max-width: 15%;
}

.deal_price {
    font-size: 16px!important;
    color: #00b46e;
    font-weight: 500!important;
    margin-right: 4px!important;
}

.old_price {
    color: #919aa3;
    font-size: 12px!important;
    text-decoration: line-through;
}

.icon {
    color: #c3ccdc
}

.center {
    text-align: center
}
.signin_btn {
    text-transform: capitalize!important;
    padding: 2px 10px !important;
    border: 1px solid #00b46e !important;
}
.view_signin_btn .signin_btn{
    margin-right: 0 !important;
    width: 100%;;
}
.view_signin_btn .signin_btn:hover{
    background-color: #00b46e !important;
    color: #fff !important;
}
.price_wrapper {
    margin: 15px 0;
}
@media (max-width: 767px) {
    .remove_icon{
        max-width: 100%;
        position: absolute !important;
        right: 5px;
        top: 5px;
        padding: 5px !important;
    }
    .text_danger_column {
        position: static;
        text-align: right;
        margin-top: 10px !important;
    }
}
@media (min-width: 768px) {
    .price_wrapper {
        margin: 0;
    }
}

