.deal_section {
    display: flex;
}

.root_process {
    height: 16px!important;
    border-radius: 9px;
}

.count_down {
    flex: 70%;
    font-size: 12px;
    text-align: right;
}

.process_wrapper {
    position: relative;
    flex: 50%;
}

.process_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 12px!important;
    width: 100%;
    text-align: center;
    color: #fff;
    opacity: .8;
}

.bar_background {
    background-image: linear-gradient(to right, #f9b514 0%, #dc3545 70%)!important
}

.blur_background {
    background-color: #f6cdd1!important;
}