.product_listing {
  margin-top: 30px;
  margin-bottom: 30px;
}

.product_grid_wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.noData {
  text-align: center;
  font-size: 25px;
  color: #fff;
}

@media (min-width: 1360px) and (max-width: 1700px) {
  .customGrid {
    max-width: 20% !important;
    flex-basis: 20% !important;
  }
}
@media (min-width: 1701px) {
  .customGrid {
    max-width: 20% !important;
    flex-basis: 20% !important;
  }
}
