.pageError {
  background-color: transparent !important;
  padding: 15px !important;
  top: calc(50% - 170px);
  bottom: calc(50% - 170px);
  position: absolute;
  max-width: 100% !important;
}

.pageError .boldText {
  font-weight: 500;
  font-size: 60px;
  color: red;
}

.pageError .weightLow {
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
}

.pageError .list {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-top: 10px;
}

.pageError .lottie {
  height: 500px;
  width: 400px;
}
.pageError .n4 {
  font-size: 130px;
  color: #94cfaa;
  padding: 0 5px;
}
.pageError .link:hover {
  opacity: 0.9;
}
