.pageError {
  padding: 100px 150px 0 150px !important;
}

.pageError .boldText {
  font-weight: 500;
  font-size: 60px;
  color: red;
}

.pageError .weightLow {
  font-weight: 400;
}

.pageError .list {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-top: 10px;
}

.pageError .lottie {
  height: 500px;
  width: 400px;
}
