.bottom_bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    box-shadow: 0px -3px 20px rgba(0,0,0,0.08);
    padding: 12px 10px;
    z-index: 2;
}
.bottom_bar .custombtn{
    color: #fff !important; 
    margin-right: 0 !important;
}
.div_buttons{
    text-align: center;
}
.appBar{
    top: auto !important;
    bottom: 0;
    background-color: #fff !important;
    color: #919aa3 !important;
    box-shadow: 0px -3px 20px rgba(0,0,0,0.08);
}
.grow{
    flex-grow: 1
}
.fabButton{
    background: linear-gradient(102.04deg, #00b46e 0%, #9ac100 100%);
    color: #fff !important;
}
.icon{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.icon [class*='MuiIconButton-label'] {
    display: flex;
    flex-direction: column;
}
.icon [class*='material-icons'] { 
    font-size: 1.2rem;
    height: 24px;
}
.icon [class*='MuiIconButton-label'] .text{
    font-size: 12px;
    margin-top: 7px;
    font-weight: 500;
}
.icon_special{
    position: absolute !important;
    z-index: 0;
    top: -30px;
    left: 0;
    right: 0;
}
.qordericon{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.icon_special [class*='material-icons'] {
    width: 2em;
}
.icon_special .text {
    font-size: 12px;
    margin-top: 14px;
    font-weight: 500; 
    display: inline-block;
    width: 70px;
    text-align: center;
}
.icon [class*='MuiIconButton-root']{
    padding: 10px;
}
.promo{
    color: #dc3545 !important;
}
.active [class*='MuiIconButton-root']{
    color: #00b46e;
}
.fwc_wrapper{
    background: linear-gradient(102.04deg, #00b46e 0%, #9ac100 100%);
    width: 100%;
    height: 100%;
    padding: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.label {
    color: #fff;
    height: 24px!important;
    font-weight: 500!important;
    line-height: 2!important;
    text-transform: none !important;
    font-size: 16px !important;
}

.outlined {
    border: 1px solid #fff!important;
    padding: 6px 12px!important;
}

.root {
    border-radius: 50px!important;
    background-color: #fff;
}
.root:focus,
.root:visited {
    background-color: #fff !important;
    border-color: #f8f9fa !important;
}
.root:focus .label,
.root:visited .label{
    color: #000 !important;
}
.total{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.btn_checkout{
    align-self: end;
    color: #212529!important;
    background-color: #f9b514!important;
    border-color: #f9b514!important;
    border-radius: 50px!important;
    text-transform: capitalize!important;
    padding: 6px 15px!important;
}
.btn_checkout span{
    color: #212529!important;
}