.supplierTitle{
    display: flex !important;
    margin-bottom: 8px;
    align-items: center
}
.name {
    font-size: 12px!important;
    color: #676f77 !important;
    font-weight: 600;
}
.supplierName {
    color: #919aa3 !important;
    font-size: 12px!important;
    padding: 0 5px !important;
}
.supplierName:hover {
    color: #00b46e!important;
}