.product_content_column {
    margin-bottom: 0!important;
}

.product_name {
    display: inline-block!important;
    align-items: flex-start;
    font-size: 16px!important;
    line-height: 1.2!important;
    color: #343a40;
    text-transform: capitalize;
    transition: color 0.2s;
    font-weight: 500!important;
    cursor: pointer;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 0 !important;
}

.product_name:hover {
   color: #00b46e;
   transition: color 0.2s;
}

.product_type {
    flex: 30%;
    font-size: 12.8px!important;
    font-weight: 400!important;
    text-align: center;
    margin-top: 6px;
}

.align_center {
    align-self: center;
}

.muted {
    color: #919aa3 !important;
}

.product_category {
    font-size: 12px!important;
    text-transform: capitalize;
}

.product_category a {
    text-decoration: none;
    color: #495057;
    transition: color 0.2s;
}

.product_category a:not(:last-child) {
    margin-right: 4px;
}

.product_category a:hover {
    color: #00b46e;
}

.product_tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.product_tags_column {
    margin-bottom: 0!important;
}

.product_tags > * {
    margin-bottom: 5px;
    margin-right: 5px;
}

.product_title_column_wrap {
    flex-direction: row!important;
    align-items: center;
}

.product_title {
    flex: 70%;
    text-align: left;
    padding-right: 10px !important;
    line-height: 1 !important;
}
.product_type{
    text-align: left;
}
.h40 {
    height: 40px;
}
.product_content {
    padding: 0!important;
}
@media (max-width: 767px) {
    .product_title_wrap {
        margin-bottom: 0 !important;
    }
    .product_content_column{
        padding: 0 !important;
    }
    .product_title_wrap .product_type{
        text-align: left;
    }
    .product_name{
        margin-bottom: 0 !important;
    }
    .product_title {
        height: auto;
        padding-right: 0 !important;
    }
    .product_tags {
        margin: 10px 0 8px !important;
    }
}
@media (min-width: 768px) {
    .product_content_column {
        max-width: 410px;
        width: 100%;
    }
    .product_content {
        margin-bottom: 16px;
    }
    .product_title_wrap {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .product_title{
        margin-bottom: 10px !important;
    }
}

