.header_info {
  background-color: #f4f7fc;
  color: #6c757d !important;
}

.header_info_wrap {
  display: flex;
  align-items: center !important;
  justify-content: flex-end !important;
  height: 32px;
  padding-right: 32px;
  max-width: 1290px;
  margin: 0 auto;
  width: 100%;
}

.link {
  padding: 5px;
}

.no_decoration {
  text-decoration: none;
  font-size: 12px;
}

.small_button {
  font-size: fontSize;
  padding: 3px;
}

.login {
  max-width: 1290px;
  margin: 0 auto;
  padding: 15px !important;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

.logo {
  padding: 15px;
  cursor: pointer;
}

.div_buttons {
  padding: 15px;
}

.buttons {
  padding: 15px;
}

.SearchInput {
  width: 40%!important;
  border-radius: 20px!important;
}

.notiIcon {
  color: #919aa3;
  margin-right: 10px;
}

.rSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 767px){
  .header_info_wrap{
    padding: 10px;
  }
  .header_info_wrap>div{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .div_buttons{
    padding: 0;
  }
  .div_buttons button{
    padding: 4px 11px;

    
  }
  .div_buttons button span{
    font-size: 12px;
  }
}