.wrapper {
  padding: 0 0 80px;
  width: 100%;
}
.cart_title {
  font-weight: 500 !important;
  font-size: 1.75rem !important;
}
.card_info {
  position: sticky;
  top: 5em;
  z-index: 400;
}
.card_title_empty {
  margin-bottom: 1rem !important;
  text-align: center;
}
.card_button_empty {
  margin-right: 0 !important;
  text-transform: unset !important;
  font-size: 1rem !important;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 48px 0;
  }
}
@media (max-width: 767px) {
  .quick_order_wrapper{
    width: 100%;
  }
}