.confirm_modal_wrap {
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  width: 35.5em;
  /* padding: 2em; */
  max-width: 100%;
  padding: 1.5em;
  border: none;
  border-radius: 1.25em;
  background: #f4f7fc;
  font-family: inherit;
  font-size: 1rem;
  outline: 0;
}

.confirm_modal_wrap svg {
  cursor: pointer;
}

.counpon_list {
  max-height: 70vh !important;
  overflow-y: scroll !important;
  overflow-x: none !important;
  margin-top: 20px;
  width: 510px;
}

.counpon_list [class*='MuiGrid-spacing-xs-1'] {
  width: 100% !important;
  /* margin-left: 0 !important;
  margin-right: 0 !important; */
}

.del_promo {
  cursor: pointer;
}

.not_yet {
  text-align: center;
  padding: 40%;
}

@media (max-width: 767px) {
  .counpon_list_wapper{
    max-height: 450px;
    overflow: hidden;
  }
  .confirm_modal_wrap {
    max-height: 600px;
    overflow: hidden;
    padding: 15px;
  }
  .confirm_modal_wrap h2{
    margin: 10px 0;
    font-size: 20px;
  }
  .confirm_modal_wrap .button{
    width: 100%;
  }
  .counpon_list{
    width: 100%;
    margin-top: 0;
  }
  .counpon_list>div{
    margin: 0;
  }
  .coupon_card_grid{
    padding: 0 !important;
  }
}
@media (min-width: 768px) {
  .confirm_modal_wrap {
    min-height: 700px;
  }
}
