.icon {
    font-size: 1.3rem!important;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.5rem;
    max-width: 1.5rem;
    height: 1.5rem;
}
