.price_label {
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 2 !important;
}

.price {
  font-size: 1.6em;
  font-weight: 500;
  /* padding-bottom: 1em !important; */
}

.promo {
  border-bottom: 1px solid rgba(224, 224, 224, 1) !important;
  padding: 30px 45px;
}

.product_row {
  height: 75px;
}

.product_name {
  text-transform: capitalize;
  color: #00b46e !important;
  cursor: pointer;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
}

.product_name:hover {
  color: #00683f !important;
}

.product_price {
  font-weight: bold !important;
}
